[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.1"
django-admin-sortable2 = "*"
django-cleanup = "*"
django-debug-toolbar = "*"
django-imagekit = "*"
django-webpack-loader = "*"
djangorestframework = "*"
inflect = "*"
jinja2 = "*"
shortuuid = "*"
pillow = "*"
