{% extends 'comics/_standard.html' %}

{% block content %}
  <div class="flow_grid">
  {% for installment in installments %}
    {% if installment.has_cover %}
      <a class="flow_cell issue_cell" href="{% url 'comics:installment' installment.id %}">
        <img class="issue_cover" src="{{ installment.cover.url }}" />
      </a>
    {% else %}
      <a class="flow_cell issue_cell no_cover" href="{% url 'comics:installment' installment.id %}">
        <h3 class="issue_title">{{ installment }}</h3>
      </a>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
