{% extends 'comics/_standard.html' %}

{% load comics_extras %}

{% block content %}
  <div class="flow_grid">
  {% for type, credit in credits %}
    <span class="flow_cell credit_cell">{{ type }}: {{ credit }}</span>
  {% endfor %}
  </div>
  <div class="flow_grid">
  {% for page in pages %}
    <a class="flow_cell page_cell" href="{% url 'comics:page' installment.id page.order %}">
      <span class="page_number">{{ page|page_num }}</span>
      <img class="page_image" src="{{ page.image_url }}" />
    </a>
  {% endfor %}
  </div>
{% endblock %}
