{% extends 'comics/_base.html' %}

{% load static %}

{% block skeletoncss %}
  <link rel="stylesheet" href="{% static 'comics/full-screen.css' %}" />
{% endblock %}

{% block skeletoncontent %}
<div class="viewport">
  <img class="page_image" src="{{ page.image.url }}" />
  {% if prev_idx != None %}
    <a class="left arrow" href="{% url 'comics:page' page.installment_id prev_idx %}">
      <span class="icon">◀</span>
    </a>
  {% endif %}
  {% if next_idx != None %}
    <a class="right arrow" href="{% url 'comics:page' page.installment_id next_idx %}">
      <span class="icon">▶</span>
    </a>
  {% endif %}
  <a class="close" href="{% url 'comics:installment' page.installment_id %}">
    <span class="icon">✘</span>
  </a>
</div>
{% endblock %}
