{% extends 'comics/_base.html' %}

{% load static %}
{% load comics_extras %}
{% load render_bundle from webpack_loader %}

{% block skeletoncss %}
  {% if not debug %}
    {% render_bundle 'app' 'css' %}
  {% endif %}
{% endblock %}

{% block skeletonprecontent %}
<script>
  window.__INITIAL_STATE__ = {
    "base":{{ links.installment_url|json }},
    "page":{{ page|json }},
    "links":{{ links|json }},
    "total_pages":{{ total_pages|json }}
  };
</script>
{% endblock %}

{% block skeletoncontent %}
<div id="app" class="viewer">
  <div class="pswp">
    <div class="pswp_bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item">
          <div class="pswp__zoom-wrap">
            <img class="pswp__img" src="{{ page.image_url }}" />
          </div>
        </div>
      </div>
      <div class="pswp_ui">
        <div class="pswp__top-bar">
          <a
              class="pswp__button pswp__button--close"
              href="{{ links.installment_url }}"
              title="Close (Esc)"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block skeletonpostcontent %}
  {% render_bundle 'vendor' 'js' %}
  {% render_bundle 'app' 'js' %}
{% endblock %}
