{% extends 'comics/_tmpl-standard.html' %}

{% block content %}
  <h2>Threads</h2>
  <div class="flow_row">
  {% for thread in threads %}
    <a class="flow_cell issue_cell no_cover" href="{{ url('comics:thread', args=[thread.id]) }}">
      <h3 class="title">{{ thread }}</h3>
    </a>
  {% endfor %}
  </div>
  <h2>Strips</h2>
  <div class="flow_row">
  {% for strip in strips %}
    <a class="flow_cell issue_cell no_cover" href="{{ url('comics:strip_page', args=[strip.id, 0]) }}">
      <h3 class="title">{{ strip.name }}</h3>
    </a>
  {% endfor %}
  </div>
  <h2>Installments</h2>
  <div class="flow_row">
  {% for installment in installments %}
    {% if installment.has_cover %}
      <a class="flow_cell issue_cell issue" href="{{ url('comics:installment', args=[installment.id]) }}">
        <img class="issue_cover" src="{{ installment.cover.image_url }}" />
      </a>
    {% else %}
      <a class="flow_cell issue_cell issue no_cover" href="{{ url('comics:installment', args=[installment.id]) }}">
        <div class="issue_cover"><h3 class="title">{{ installment }}</h3></div>
      </a>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
