{% extends 'comics/_tmpl-standard.html' %}

{% block content %}
<article class="installment">
{% with avatar=True %}
  <h1>
    <a href="{{ url('comics:series', args=[installment.series_id]) }}">{{ installment.series.name }}</a>
    {%- if installment.display_number %} » <span class="number">{{ installment.display_number }}</span>
    {% endif %}
  </h1>
  {% if installment.title %}
  <h3>{{ installment.title }}</h3>
  {% endif %}

  {% if installment.prev_id or installment.next_id %}
  <nav>
  {% if installment.prev_id %}
     <a href="{{ url('comics:installment', args=[installment.prev_id]) }}">Prev</a>
  {% endif %}
  {% if installment.next_id %}
     <a href="{{ url('comics:installment', args=[installment.next_id]) }}">Next</a>
  {% endif %}
  </nav>
  {% endif %}

  <div class="flow_grid">
  {% for type, creators in credits %}
    <span class="flow_cell credit_cell">{{ type }}:
      {% include 'metadata/_snippet-creator-list.html' %}
    </span>
  {% endfor %}
  </div>
  {% if appearances %}
  <div class="flow_grid">
    <p class="flow_cell appearances">{% include 'metadata/_snippet-appearance-list.html' %}</p>
  </div>
  {% endif %}
  <ol class="flow_grid page_grid">
  {% for page in pages %}
    <li class="flow_cell">
    <a class="page" href="{{ url('comics:page', args=[installment.id, page.order]) }}">
      <span class="page_number">{{ page|page_num }}</span>
      <img class="page_image" src="{{ page.image_url }}"
           width="{{ page.image_width }}px" height="{{ page.image_height }}px">
    </a>
    </li>
  {% endfor %}
  </ol>
{% endwith %}
</article>
{% endblock %}
