{% extends 'comics/_tmpl-base.html' %}

{% block skeletoncss %}
  {% if not debug %}
    {{ render_bundle('app', 'css') }}
  {% endif %}
{% endblock %}

{% block skeletonprecontent %}
{{ initial_state|json_script("__INITIAL_STATE__") }}
{% endblock %}

{% block skeletoncontent %}
<div id="app" class="viewer no-script">
  <div class="pswp pswp--open pswp--minimal--dark">
    <div class="pswp__bg" style="opacity: 1;"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item">
          <div class="pswp__zoom-wrap">
            <img class="pswp__img"
                 src="{{ initial_state.page.image_url }}"
                 width="{{ initial_state.page.image_width }}"
                 height="{{ initial_state.page.image_height }}"
            />
          </div>
        </div>
      </div>
      <div class="pswp_ui">
        <div class="pswp__top-bar">
          <a
              class="pswp__button pswp__button--close"
              href="{{ initial_state.links.thread }}"
              title="Close (Esc)"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block skeletonpostcontent %}
  {{ render_bundle('vendor', 'js') }}
  {{ render_bundle('app', 'js') }}
{% endblock %}
