{% extends 'metadata/_standard.html' %}

{% block content %}
  <div>
  {% for being in beings %}
    {% if being.mugshot.image_url %}
    <a class="mug" href="{% url 'metadata:being' being.id %}" title="{{ being.name }}">
      <img src="{{ being.mugshot.image_url }}" alt="{{ being.name }}">
    </a>
    {% else %}
    <a class="mug no_img" href="{% url 'metadata:being' being.id %}" title="{{ being.name }}">
      <span class="name">{{ being.name }}</span>
   </a>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
