.character_wall {
  overflow: hidden;
}

.mug {
  float: left;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.mug.no_img {
  width: 48px;
  height: 48px;
  border: 1px solid #aaa;
  overflow: hidden;
}
.mug .name {
  width: inherit;
  height: inherit;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 0.5rem;
  color: peru;
}

.character {
  display: flex;
  flex-flow: row wrap;
}
.profile {
  flex: 1 0;
  min-width: 18rem;
  max-width: 30rem;
  margin: 1rem;
}
.appearances {
  flex: 6 1;
  min-width: 18rem;
  padding: 0 1rem;
}

.profile {
  font-size: 0.75rem;
}
.picture {
  text-align: center;
}
.info {
  text-align: center;
  margin: 1rem 0;
}
.info .name {
  font-size: 1rem;
  font-weight: bold;
}
.bio {
  text-align: justify;
}

/* https://semantic-ui.com/elements/icon.html */
i.icon {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  text-align: center;
}
i.bordered.icon {
  line-height: 1;
  vertical-align: baseline;
  width: 2em;
  height: 2em;
  padding: .5em 0;

  background-color: #000;
  color: #fff;
}
i.link.icon {
  cursor: pointer;
  opacity: .8;
  transition: opacity .1s ease;
}
i.link.icon:hover {
    opacity: 1;
}

.creator .websites {
  list-style: none;
  padding: 0;
}

