{% extends 'metadata/_standard.html' %}

{% block content %}
<article class="character">
<section class="profile">
  {% if persona.profile_pic or persona.mugshot %}
  <div class="picture">
    {% if persona.profile_pic %}
    <img src="{{ persona.profile_pic.url }}" alt="Picture of {{ persona.name }}" width="300">
    {% else %}
     <img src="{{ persona.mugshot.url }}" alt="Picture of {{ persona.name }}" width="200">
   {% endif %}
  </div>
  {% endif %}
  <div class="info">
    <div class="name">{{ persona.name }}</div>
    <div class="aka">{{ aka }}</div>
  </div>
  <div class="bio">{{ character.bio }}</div>
</section>
<section class="appearances">
  <h2>Series</h2>
  <ul class="flow_grid issue_grid">
  {% for issue in first_issues %}
    <li class="flow_cell">
    {% if issue.has_cover %}
      <a class="issue" href="{{ issue.series.get_absolute_url() }}">
        <img class="issue_cover" src="{{ issue.cover.image_url }}" alt="Cover for {{ issue.series_name }}">
      </a>
    {% else %}
      <a class="issue no_cover" href="{{ issue.series.get_absolute_url() }}">
        <h3 class="title">{{ issue.series_name }}</h3>
      </a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>
</article>
{% endblock %}
