.flow_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
}

.flow_row .flow_cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0.8rem 0.5rem 1rem;  /* NOTE: using margin will cut off the last element */
  position: relative;
}
.flow_row .flow_cell:first-child {
  padding-left: 1rem;
}
.flow_row .flow_cell:last-child {
  padding-right: 1rem;
}

.installment .number {
  font-size: .9em;
  font-style: italic;
}

.series .issue_cover {
  margin-bottom: .5rem;
}

.issue p {
  line-height: 1.5rem;
  margin: 0;
}

.no_cover .issue_cover {
  box-sizing: border-box;
  border: 1px darkgray solid;
  min-width: 11.0625rem;
  max-width: 13.5rem;
  height: calc(100% - 4px);
  overflow: hidden;
}

.flow_row .title {
  width: 100%;
}

.flow_row img {
  height: 15rem;
}

.flow_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 0;
}

.flow_grid .flow_cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  min-width: 5em;
  padding: 0 0.5rem 1rem;
  position: relative;
}

.flow_grid a {
  text-decoration: none;
}

.flow_grid .issue_cover,
.flow_grid .page_image {
  width: auto;
  max-height: 17rem;
}

.page_grid {
  justify-content: flex-start;
  padding: 0 0.25rem;
}
.page_grid .flow_cell {
  /* dunno know where this extra 4px is coming from... */
  padding: 0 0.25rem calc(0.5rem - 4px);
}
.page {
  display: inline-block;
  position: relative;
}
.page img {
  height: 20vh;
  min-height: 6rem;
  max-height: 10rem;
}

.issue_grid .flow_cell {
  text-align: center;
}
.issue {
  /* NOTE: inline-block is bad here because it can expand the hover bubble */
  position: relative;
}
.issue_cover {
  box-shadow: 0 0.1875rem 0.625rem -0.1875rem rgba(0,0,0,0.75);
  transition: box-shadow 0.15s ease-out;
}
.issue:hover .issue_cover {
  box-shadow: 0 0.125rem 0.6875rem -0.125rem rgba(0,0,0,1);
}

.credit_cell {
  text-align: center;
}

.no_cover .issue_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page_number {
  display: none;
  background: #ccc;
  color: #222;
  opacity: .85;

  font-size: .8rem;
  border-radius: 50%;
  height: auto;
  padding: .25rem;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.page:hover .page_number {
  display: block;
}

.appearances {
  text-align: center;
}
.appearance {
  white-space: nowrap;
}
a.creator img,
a.appearance img {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
a.appearance:hover img {
  width: 3rem;
  height: 3rem;
  margin: -1.01rem;
  vertical-align: middle;
  border-radius: 50%;
}

@media only screen and (max-width: 414px) {
  .page img {
    height: 14.9vh;
  }
}

@media only screen and (max-width: 768px) {
  .page_grid {
    justify-content: space-evenly;
  }
  .page_image {
    height: 13.7vh;
  }
}
