.flow_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
}

.flow_row .flow_cell {
  box-sizing: border-box;
  padding: 0.8rem 0.5rem 1rem;  /* NOTE: using margin will cut off the last element */
  position: relative;
}
.flow_row .flow_cell:first-child {
  padding-left: 1rem;
}
.flow_row .flow_cell:last-child {
  padding-right: 1rem;
}

.flow_row .no_cover {
  max-width: 15rem;
  overflow: hidden;
}

.flow_row .title {
  width: 100%;
}

.flow_row img {
  height: 15rem;
}

.flow_grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.flow_grid .flow_cell {
  box-sizing: border-box;
  flex: 1 0 20%;
  min-width: 5em;
  padding: 0 0.5rem 1rem;
  position: relative;
}

.flow_grid img {
  width: 100%;
}

.issue_cell img {
  box-shadow: 0 0.1875rem 1.25rem -0.1875rem rgba(0,0,0,0.75);
  transition: box-shadow 0.2s ease-out;
}
.issue_cell:hover img {
  box-shadow: 0 0.1875rem 1.25rem -0.0625rem rgba(0,0,0,1);
}

.credit_cell {
  text-align: center;
}

.page_cell {
  min-width: 10em;
}

.no_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page_number {
  background: #ccc;
  color: #222;
  opacity: .6;

  font-size: .8rem;
  border-radius: 50%;
  height: auto;
  padding: .25rem;

  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.appearances {
  text-align: center;
}
.appearance {
  white-space: nowrap;
}
.creator img,
.appearance img {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
.appearance:hover img {
  width: 3rem;
  height: 3rem;
  margin: -1.01rem;
  vertical-align: middle;
  border-radius: 50%;
}
