.cf-actions input[type=button] {
  padding: 10px 15px;
  margin: 0 0 10px 10px;
  width: 70px;
}
.file-button {
  position: relative;
  cursor: pointer;
}
.file-button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.cf-display,
.cf-actions {
  float: left;
}
.cf-actions input {
  float: left;
  clear: left;
}

.cf-wrapper,
.cf-actions input,
.cf-container.editing .cf-preview,
.cf-container.initial .cf-msg {
  display: none;
}
.cf-container.editing .cf-wrapper,
.cf-container.editing .cf-clear,
.cf-container.editing .cf-cancel,
.cf-container.editing .cf-lock,
.cf-container.locked .cf-clear {
  display: block;
}
.cf-container.locked .cf-upload,
.cf-container.locked .cf-lock,
.cf-container.locked .cf-cancel {
  display: none;
}
.cf-container.initial .cf-upload {
  display: block;
}

.cf-preview {
  background-size: 50px 50px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 52px;
  height: 52px;
  overflow: hidden;
}
.cf-container.locked .cf-preview {
  cursor: pointer;
}

.cf-upload {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 11px;
  color: #aaa;
}

.cf-wrapper {
  width: 260px;
  height: 260px;
}
