.viewer.no-script {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black no-repeat center;
  background-size: contain;
}
.viewer.no-script .pswp__img {
  display: none;
}
